body{
  background-color: blueviolet;
}

h1 {
  background: chartreuse;
  font-size: 11mm;
  margin: 7mm;
}

header, footer{
  background-color: crimson;
  text-align: center;
  font-family: Cambria;
  padding: 4mm;
}

p {
  display: inline-block;
  width: 450px;
}

li {
  background-color: goldenrod;
  font-size: 5mm;
  margin: 7mm;
  display: inline-block;
  width: 450px;
}

p {
  background-color: green;
  font-size: 5mm;
  margin: 7mm;
}