body{
  background-image: url("../img/mtrainerimg.png");
  object-fit: cover;
  background-size: auto;
}

h1 {
  background: chartreuse;
  font-size: 11mm;
  margin: 7mm;
}

header, footer{
  text-align: center;
  font-family: Cambria;
  padding: 4mm;
}

p {
  display: inline-block;
  width: 450px;
}

li {
  background-color: goldenrod;
  font-size: 5mm;
  margin: 7mm;
  display: inline-block;
  width: 450px;
}

p {
  background-color: rgb(231, 10, 158);
  font-size: 5mm;
  margin: 7mm;
}

img {
  width: 100mm;
  float: left;
}
